.env

dev_env/
dep_env/

.dvc/
.idea/
.git/

__pycache__/
*.pyc

*.csv
*.xlsx
*.xls
*.parquet
*.ipynb

test_api/
Vijay_Takbhate_Resume_Working/

modeling/input_data/
modeling/submissions/

dev_requirements.txt